
<div class="container"> 

  <div xwindow>
<div class="row">
  <div class="col">
 <form>
     <input type="file" ng-file-select="onFileSelect($files)" class="form-control-file border">
 </form>
  </div>
  <div class="col">
      <div class="progress" > 
        <div class="progress-bar" role="progressbar" ng-style="{'width': percent + '%;'}" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
      </div>
      <span>{{ percent}}</span>

  </div>
</div>
<div class="row">
   <input ng-model="visible"  type="checkbox"/>
   <label>view data </label>
   <i ng-hide="lines">No csv file choosed</i>

   <table class="table table-striped" ng-show="visible">
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
    </tr>
   
    <tr ng-repeat="line in  lines track by $index">
        <td> {{line[0]}} </td> 
        <td> {{line[1]}} </td> 
        <td> {{line[2]}} </td> 
        <td> {{line[3]}} </td> 
        <td> {{line[4]}} </td> 
        <td> {{line[5]}} </td> 
    </tr>
   </table>
 </div> <!-- row-->
 <div class="row"> 
  <label>x: </label> <input type="text" ng-model="xCol" ng-init="xCol = '0'"/>
  <label>y: </label> <input type="text" ng-model="yCol" ng-init="yCol = '3'"/>
  <button ng-click="refreshPlot()" ng-if="lines.length > 0 "> Refresh</button>
 </div>
  <div class="col">
    <csv-plot csv-plots=csvPlots width=600 height=400></csv-plot>
  </div>
 	 
  </div>
    <p ng-if="width > 320" >The device window is: [{{width}}, {{height}}].</p>
    <p> This is about view. </p>

</div>



