<!-- <div class="jumbotron jumbotron-fluid">
     <div class= "container">
        <div class="block">
          <h1 class="animated fadeInUp">Scratch</h1>
              <p class="animated fadeInUp">Your Notes</p>
          <div ng-hide="ie == 0">
              <p class="animated fadeInUp">IE {{ie}}</p>
          </div>
        </div>
     </div>
</div>
-->
<style type="text/css">
    		.ars{
    		  /*	width: 350px; */
    			height:40px;
    			font-size: 20px;
    			text-align: left;
    			padding-left: 0px;
    			margin-left: 0px;
    			margin-top: 0px;
    			vertical-align: top;
    		}
    		.ams{
    			vertical-align: top;
    			padding-left: 0px;
    		}
</style>
<div class="container"> 

  <div class="row">
    <h3>Scratches</h3>
  </div>
  <div class="row">
    <table class="table table-striped">
    <thead>
      <tr>
        <th width="10%"> Status</th>
        <th width="20%"> Name</th>
        <th width="60%"> Scratch</th>
        <th width="10%"> Delete</th>
      </tr>
    </thead> 
    <tbody>
    <tr ng-repeat="ppp in scratches track by $index" tabindex="1" ng-click="select(ppp)">
         <td ><div class="checkbox">
            <input type="checkbox" value={{ppp.check}} ng-model="ppp.check"  ng-change="update(ppp)" ng-true-value="'YES'" ng-false-value="'NO'"  > 
                {{ppp.check}}</div>
         </td>
         <td>
          {{ppp.title}}
         </td>
         <td>
            <table>
            <tr ng-if="0 == 1">
            <th width="10%"> Check</th>
            <th width="40%"> Name</th>
            <th width="40%"> Context</th>
            <th width="10%"> Delete</th>
            </tr>

           <tr ng-repeat="scratch in ppp.scratches track by $index" > 
                   <td width="10%"> <input type="checkbox" value="{{scratch.check}}" ng-model="scratch.check" ng-change="update(ppp)" ng-true-value="'YES'" ng-false-value="'NO'" /> {{scratch.check}} </td>
                   <td width="40%"> <input value="{{scratch.title}}">  </input> </td>
                   <td width="40%"> <textarea value="{{scratch.context}}" ng-model="scratch.context" ng-change="update(ppp)">  </textarea> </td>
                   <td width="10%">  <span ng-click="deleteScratch(scratch.name, ppp.name)"> x</span> </td>
            </tr>
            </table>
         </td>
         <td>
          <span ng-click="delete($index)"> x</span>
         </td>
    </tr> 
    </tbody>
    </table>
  </div>

  <div class="row">
        <select ng-model="selectedScratch" ng-options="name for name in scratchNames">
        </select>



    <label for="addScratch">Name:</label>
    <input ng-model="addPageName"> 
        <button class="btn btn-primary" ng-click="add()">Add</button> 
    </input>
  </div>

  <div class="row">
     File Name: <input type="text" ng-model="filename" /><br>
    <button ng-click="saveJSON()">Save</button>


 <form>
     <input type="file" ng-file-select="onFileSelect($files)" class="form-control-file border">
 <progress value="{{progress}}"></progress>
 </form>

  </div>
  
  <div class="row">
      <div class="form-group" >
             <label for="updateTitle">Name:</label>
             <input ng-model="name"> 
             <button ng-click="update()" class="button button-primary">Update</button> 
      </div>
  </div>

  <div class="row">
    <div xwindow>
        <p ng-if="width > 320" >The device window is: [{{width}}, {{height}}].</p>
    </div>
  </div>

</div>



