<div class="jumbotron jumbotron-fluid">
     <div class= "container">
        <div class="block">
          <h1 class="animated fadeInUp">Scratch</h1>
              <p class="animated fadeInUp">Your Notes</p>
          <div ng-hide="ie == 0">
              <p class="animated fadeInUp">IE {{ie}}</p>
          </div>
        </div>
     </div>
</div>


<div class="container"> 

  <div class="row">
    <h3>Scratches</h3>
  </div>

  <div class="row">
    <table class="table table-striped">
    <tr>
      <th width="10%"> Status</th>
      <th width="40%"> Name</th>
      <th width="40%"> Scratch</th>
      <th width="10%"> Delete</th>
    </tr>

    <tr ng-repeat="ppp in scratches track by $index" tabindex="1" ng-click="select(ppp)">
         <td ><div class="checkbox">
            <input type="checkbox" value={{ppp.check}} ng-model="ppp.check"  ng-change="update(ppp)" ng-true-value="'YES'" ng-false-value="'NO'"  > 
                {{ppp.check}}</div>
         </td>
         <td>
          {{ppp.name}}
         </td>
         <td>
            <table>
            <tr>
            <th width="10%"> Check</th>
            <th width="40%"> Name</th>
            <th width="10%"> Delete</th>
            </tr>

           <tr ng-repeat="scratch in ppp.scratches"> 
                   <td> <input type="checkbox" value="{{scratch.check}}" ng-model="scratch.check" ng-change="update(ppp)" ng-true-value="'YES'" ng-false-value="'NO'" /> {{scratch.check}} </td>
                   <td> <input value="{{scratch.name}}">  </input> </td>
                   <td>  <span ng-click="deleteScratch(scratch.name, ppp.name)"> x</span> </td>
            </tr>
            </table>
         </td>
         <td>
          <span ng-click="delete($index)"> x</span>
         </td>
    </tr>
    </table>
  </div>

  <div class="row">
<input type="text" ng-model="scratchSelectText" />
<select ng-model="selectedScratch" ng-options="scratch.name for scratch in scratches">
</select>



    <label for="addScratch">Name:</label>
    <input ng-model="addPageName"> 
        <button class="btn btn-primary" ng-click="add()">Add</button> 
    </input>
  </div>
  
  <div class="row">
      <div class="form-group" >
             <label for="updateTitle">Name:</label>
             <input ng-model="name"> 
             <button ng-click="update()" class="button button-primary">Update</button> 
      </div>
  </div>

  <div class="row">
    <div xwindow>
        <p ng-if="width > 320" >The device window is: [{{width}}, {{height}}].</p>
    </div>
  </div>

</div>



