<div class="container">

  <form>
    <label class="radio-inline">
      <input type="radio" ng-model="opt" value="default" ng-change="change()">Default
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="opt" value="pinsky" ng-change="change()">Pinsky
    </label>
     <label class="radio-inline">
      <input type="radio" ng-model="opt" value="bang" ng-change="change()">Bang
    </label>
    <tt>opt = {{opt}}</tt><br/>
  </form>


   <table>
   <tr ng-repeat="comment in comments track by $index">
        <td> {{comment.conto}} </td> 
        <td> {{comment.line}} </td>
        <td> {{comment.name}} </td>
        <td> {{comment.comment}} <td>
   </tr>
   </table>
</div>


 <div class="form-group" >
            <label for="addComment">Conto</label>
             <input ng-model="addConto"> 
             <label for="addComment">Number </label>
             <input ng-model="addLine"> <br/>
             <label for="addComment">Name </label>
             <input ng-model="addName"> 
              <label for="addComment">Comment</label>
             <input ng-model="addNote">
             <button ng-click="addComment()" class="button button-primary">Add</button> 
  </div>




   <form>
      <div class="row">
        <div class="col-md-12">
           <input type="file" ng-file-select="onFileSelect($files)" class="form-control-file border">
        </div>
      </div>
   </form>
   <br />
   
<!--
   <b>Statistics:</b><br />

    <table class="table table-striped">
     <tr>
        <th>Name</th>
        <th>Counts </th>
     </tr>
     <tr> 
        <td>Total Symbols </td>
        <td>{{totalSymbols}}</td>
     </tr>
     <tr> 
        <td>Total Sequences </td>
        <td>{{totalLHs}}</td>
     </tr>
    </table>
   
   <b>Preview:</b> 
   <input ng-model="visible" type="checkbox"/>
   <br />
   <i ng-hide="textSrc">No text file choosed</i>
   <pre ng-show="visible">{{textSrc}}</pre>
   
   <br/> 
   <b>Progress:</b>
  <progress value="{{progress}}"></progress>
</div>
-->
