<div class="container">
<!-- <div class="row">
   <table>
   <tr ng-repeat="result in results track by $index">
        <td> currency: {{result.meta.currency}} </td> 
        <td> symbol: {{result.meta.symbol}} </td> 
   </tr>
   </table>
</div>
-->
<div class="row">
  <div class="col">
    <input type="text" name="symbol" ng-model="symbol"> 
        <button class="btn btn-primary" ng-click="getSymbol()">Get</button> 
    </input>
    <code>text = {{symbol}}</code>

  </div>

  <div class="col">
   
  <form>
    <label class="radio-inline">
      <input type="radio" ng-model="opt" value="30" ng-change="changeDays()">Default (30)
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="opt" value="556" ng-change="changeDays()">556
    </label>
     <label class="radio-inline">
      <input type="radio" ng-model="opt" value="1132" ng-change="changeDays()">1132
    </label>
    <tt>opt = {{opt}}</tt><br/>
  </form>
</div>

</div>

 <div class="row">
  <div class="col">
    <table class="table table-striped">
   <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
     </tr>
   
   <tr ng-repeat="close in quote.close track by $index">
        <td> {{timestamp[$index] * 1000 | date: 'yy-MM-dd'}} </td> 
        <td> {{quote.open[$index] | number:1}} </td>
        <td> {{quote.high[$index] | number:1}} </td>
        <td> {{quote.low[$index] | number:1}} </td>
        <td> {{quote.close[$index] | number:1}} </td> 
   </tr>
    </table>
  </div>
  <div class="col">
    <line-plot graph-plots=graphPlots width=600 height=400></line-plot>
    <!-- <line-plot width=600, height=400>  -->
  </div>
</div>

 
<!--
   <b>Statistics:</b><br />

    <table class="table table-striped">
     <tr>
        <th>Name</th>
        <th>Counts </th>
     </tr>
     <tr> 
        <td>Total Symbols </td>
        <td>{{totalSymbols}}</td>
     </tr>
     <tr> 
        <td>Total Sequences </td>
        <td>{{totalLHs}}</td>
     </tr>
    </table>
   
   <b>Preview:</b> 
   <input ng-model="visible" type="checkbox"/>
   <br />
   <i ng-hide="textSrc">No text file choosed</i>
   <pre ng-show="visible">{{textSrc}}</pre>
   
   <br/> 
   <b>Progress:</b>
  <progress value="{{progress}}"></progress>
</div>
-->
